@font-face {
  font-family: abel-regular;
  src: url(/fonts/Abel-Regular.ttf);
} 
/*
    currency  &#x20B9;
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
   .message_panel span{
       margin:5px;
   }
   .message_panel button{
       float:right;
   }
   .message_panel textarea{
        height: 80px;
        width: 100%;
   }
    .message_panel .split {
        height: auto;
        padding-top: 20px;
    }

    .message_panel .centered {
        margin-bottom: 20%;
        padding: inherit;
        height: auto;
        fit: fill;
        /*border: solid 2px lightgrey;*/
    }
    .message_panel .personalinfo {
    color: var(--color-primary);
    font: large;
}
.text-right{
    text-align:right;
    float:right;
}
   .productDetail-panel {
    position: center;
    /*width: 90%;*/
    margin: auto;
}
   .productDetail-panel span{
       margin:5px;
   }
    .productDetail-panel .split {
        height: auto;
        padding-top: 20px;
    }

    .productDetail-panel .centered {
        /*margin-top: 75px;*/
        padding: inherit;
        height: auto;
        fit: fill;
        /*border: solid 2px lightgrey;*/
    }
 html{
  position:relative; 
  min-height: 100%;
}
 .footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  background: black;
  color: white;
  text-align: center;
  padding: 10px;
}

.myorder-panel .row {
    border-bottom: solid 1px whitesmoke;
}

.myorder-panel img {
    height: 50px;
}

.myorder-panel {
    margin-top: 20px;
}

    .myorder-panel .myorderspan {
        /*margin-left:122px;*/
        font-family: helvetica;
        font-weight: 700;
        margin-bottom: 20px;
    }
    /***/
    .order_panel {
    position: center;
    width: 90%;
    margin: auto;
        margin-top: 10px;
}

    .order_panel .split {
        height: auto;
        padding-top: 20px;
    }

    .order_panel .centered {
        /*margin-top: 75px;*/
        padding: inherit;
        height: auto;
        fit: fill;
        /*border: solid 2px lightgrey;*/
    }

    .order_panel a {
        color: black;
    }

        .order_panel a:focus {
            color: purple;
        }

    .order_panel input {
        width: 50%;
        background-color: whitesmoke;
        margin-bottom: 10px;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

@media only screen and (max-width: 600px) {
    .order_panel input {
        width: 100%;
    }

    .order_panel .centered {
        margin-top: 0px;
    }
}
.inputgender {
    width: 10%;
    height: 15px;
}
.order_panel .inputgender {
    width: 10%;
    height: 15px;
}

.order_panel .inputcheckbox {
    width: 10%;
    height: 15px;
}
.text-center {
    text-align: center;
}
.attr-name{
    font-size:15px;
}
.attr-text{
    font-size:12px;
}
.postYourPropertyReviews h4,.postYourPropertyWhy h4{
    font-family: simpel;
}
.postYourPropertyLandingContainer .postYourPropertyFormWrapper .postYourPropertyContent .postYourPropertyReviews {
    margin: 40px 0 10px;
}
.postYourPropertyLandingContainer .postYourPropertyFormWrapper .postYourPropertyContent {
    background-color: #f5f5f5;
    border-radius: 2px 0 0 2px;
    padding: 40px 30px;
    border-right: solid .5px #ddd;
}
.postYourPropertyWhyBox span{
        font-size: 15px;
}
.postYourPropertyForm p{
    font-family: actor-regular;
    color: var(--color-primary);
}
.postYourPropertyForm .formInput:nth-child(2n) {
    margin-right: 0;
}
.postYourPropertyForm .formInput input {
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #ddd;
    width: calc(100% - 11px);
    outline: 0;
    font-size: 14px;
    padding: 10px;
    color: #333;
}
.postYourPropertyForm .formInput {
    display: inline-block;
    padding: 8px 0;
    width: calc(50% - 5px);
    float: left;
    margin-right: 10px;
    position: relative;
}
.postYourPropertyForm{
    padding: 40px;
}
.postYourPropertyLandingContainer .postYourPropertyFormWrapper .postYourPropertyContent .postYourPropertyWhy .postYourPropertyWhyBox {
    padding: 8px 0;
}
.pypReviewWrapper{
        font-size: 16px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}
.clearfix {
    *zoom: 1;
}
.postYourPropertyLandingContainer {
    width: 90%;
    margin-left: 5%;
    background-color: #fff;
    font-size: 16px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.postYourPropertyContent{
        background-color: #f5f5f5;
    border-radius: 2px 0 0 2px;
    padding: 40px 30px;
    border-right: solid .5px #ddd;
    border-bottom: solid .5px #ddd;
}
.postYourPropertyLandingContainer .postYourPropertyFormWrapper {
    border-radius: 2px;
    border: .5px solid #ddd;
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
}
.postYourPropertyCaption{
    font-size: 25px;
    line-height: 28px;
    /* font-weight: 600; */
    letter-spacing: -.2px;
    color: #464646;
    margin: 20px 0;
    text-transform: capitalize;
    font-family: simpel;
}
.order_panel span {
    margin-bottom: 10px;
    display: block;
    font: bolder;
}
.post_free_panel{

}
.post_free_panel .personalinfohead {
    color: var(--color-primary);
    font: large;
    font-size:20px;
    margin-top:10px;
}
 .dashed-border{
        border: dashed 1px #544d4d;
    padding: 10px 20px;
}
.order_panel .personalinfo {
    color: var(--color-primary);
    font: large;
    font-size:20px;
    margin-top:10px;
}
.order_panel .manageaddr {
    color: var(--color-primary);
    font: large;
}

.order_panel .acctsetting {
    color: var(--color-primary);
    font: large;
}
.order_panel .grid-button{
        border-radius: 3px;
    background-color: var(--color-primary);
    border-style: solid;
    border-width: 1px;
    color: white;
    /* width: 20%; */
    /* margin-top: 10px; */
    /* margin-bottom: 20px; */
    /* height: 30px; */
    font-family: helvetica;
    font-size: 14px;
    text-align: left;
}
.order_panel button {
    border-radius: 3px;
    background-color: var(--color-primary);
    border-style: solid;
    border-width: 1px;
    color: white;
    width: auto;
    font-family: helvetica;
    font-size: 14px;
    text-align: left;
}
/* Post free ad */
/***/
.postfreead-panel {
    position: center;
    width: 90%;
    margin: auto;
}
.split {
        height: auto;
        padding-top: 20px;
    }
.centered {
        /*margin-top: 75px;*/
            padding-bottom: 20px;
        padding-left: inherit;
        padding-right: inherit;
        padding-top: 20px;
        height: auto;
        fit: fill;
        /*border: solid 2px lightgrey;*/
    }
.postfreead-panel div{
        /*margin-top: 10px;*/
}
    .postfreead-panel .split {
        height: auto;
        padding-top: 20px;
    }

    .postfreead-panel .centered {
        /*margin-top: 75px;*/
            padding-bottom: 20px;
        padding-left: inherit;
        padding-right: inherit;
        padding-top: 20px;
        height: auto;
        fit: fill;
        /*border: solid 2px lightgrey;*/
    }

    .postfreead-panel a {
        color: black;
    }

        .postfreead-panel a:focus {
            color: purple;
        }

    .postfreead-panel input {
        /*width: 50%;*/
        background-color: whitesmoke;
        margin-bottom: 10px;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

@media only screen and (max-width: 600px) {
    .postfreead-panel input {
        width: 100%;
    }

    .postfreead-panel .centered {
        margin-top: 0px;
    }
    .postYourPropertyLandingContainer {
        width: 100%;
    }
    .postYourPropertyForm {
    padding: 10px;
}
}

.postfreead-panel .inputgender {
    width: 10%;
    height: 15px;
}

.postfreead-panel .inputcheckbox {
    width: 10%;
    height: 15px;
}

.postfreead-panel span {
    margin-bottom: 10px;
    /*display: block;*/
    font: bolder;
}
.personalinfo {
color: var(--color-primary);
    font-family: simpel;
    margin-top: 20px;
    margin-bottom: 20px;
    /* display: contents; */
    /* margin: 0px; */
    /* text-align: center; */
    font-size: 20px;

}
.postfreead-panel .personalinfo {
    color: var(--color-primary);
    font: large;
}

.postfreead-panel .manageaddr {
    color: var(--color-primary);
    font: large;
}

.postfreead-panel .acctsetting {
    color: var(--color-primary);
    font: large;
}

.postfreead-panel button {
    border-radius: 3px;
    background-color: var(--color-primary);
    border-style: solid;
    border-width: 1px;
    color: white;
    /*width: 20%;*/
    margin-top: 10px;
    margin-bottom: 20px;
    height: 30px;
    font-family: helvetica;
    font-size: 14px;
}
/***/
.Account_panel {
    position: center;
    width: 90%;
    margin: auto;
}

    .Account_panel .split {
        height: auto;
        padding-top: 20px;
    }

    .Account_panel .centered {
        /*margin-top: 75px;*/
        padding: inherit;
        height: auto;
        fit: fill;
        /*border: solid 2px lightgrey;*/
    }

    .Account_panel a {
        color: black;
    }

        .Account_panel a:focus {
            color: purple;
        }

    .Account_panel input {
        width: 50%;
        background-color: whitesmoke;
        margin-bottom: 10px;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

@media only screen and (max-width: 600px) {
    .Account_panel input {
        width: 100%;
    }

    .Account_panel .centered {
        margin-top: 0px;
    }
}

.Account_panel .inputgender {
    width: 10%;
    height: 15px;
}

.Account_panel .inputcheckbox {
    width: 10%;
    height: 15px;
}

.Account_panel span {
    margin-bottom: 10px;
    display: block;
    font: bolder;
}

.Account_panel .personalinfo {
    color: var(--color-primary);
    font: large;
}

.Account_panel .manageaddr {
    color: var(--color-primary);
    font: large;
}

.Account_panel .acctsetting {
    color: var(--color-primary);
    font: large;
}

.Account_panel button {
    border-radius: 3px;
    background-color: var(--color-primary);
    border-style: solid;
    border-width: 1px;
    color: white;
    /*width: 20%;*/
    margin-top: 10px;
    margin-bottom: 20px;
    height: 30px;
    font-family: helvetica;
    font-size: 14px;
}
.wrap-input{
        width: 100%;
    position: relative;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    padding: 20px;
}
.wrap-card{
    background: #fff;
    /* border-radius: 10px; */
    overflow: hidden;
    /* box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1); */
        padding-bottom: 20px;
}
.signup-panel {
    max-width: 400px;
    background-color:white;
    margin-top: 20px;
}

    .signup-panel input {
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        border-bottom: solid 1px var(--color-primary) !important;
        outline: none !important;
    }
        .signup-panel input:hover {
                border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        border-bottom: solid 1px var(--color-primary) !important;
        outline: none !important;
    }
    .signup-panel button {
        border-radius: 3px;
        background-color: var(--color-primary);
        border-style: solid;
        border-width: 1px;
        color: white;
        font-family: helvetica;
        font-size: 14px;
        height: 30px;
    }

    .signup-panel span {
        float: right;
    }

.login-panel {
    /* max-width: 400px; */
    /*border: solid 2px lightgrey;*/
    /* margin-top: 20px;
    background-color:white; */
}

    .login-panel span {
        float: right;
        color: white;
    }

    .login-panel input {
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        border-bottom: solid 1px var(--color-primary) !important;
        outline: none !important;
    }
    .login-panel input:hover {
                border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        border-bottom: solid 1px var(--color-primary) !important;
        outline: none !important;
    }
    .login-panel button {
        border-radius: 3px;
        background-color: var(--color-primary);
        border-style: solid;
        border-width: 1px;
        color: white;
        height: 30px;
        font-family: helvetica;
        font-size: 14px;
    }
    .login-panel h1{
        color:var(--color-primary);
    }
.product-image-div{
        margin-bottom: 20px;
    border: 1px solid #ccc;
    float: left;
    /*width: 300px;*/
}
.project-div{
      margin-left: 10px;
    padding-left: 10px;  
}
.project-name{
    color: #59bae8;
    font-weight: 600;
}
.prop-contact-div{
    margin-top: 10px;
    padding-left: 0px;
    color: #1e90ff;
}
.contact-text{
    color: #1e90ff;
    margin: 0px !important;
    margin-top: 2px;
}
.price-div{
    margin-left: 10px;
    padding-left: 10px;
}

.price-text{
    color: #09c709;
    font-weight: bold;
}
.action-div{
    padding-right: 0px;
}
.action-div div{
        padding-right: 0px;
}
.action-div button{
        font-size: 15px;
}
.loc-div{
    margin-left: 10px;
    padding-left: 10px;
}
.loc-name{
    font-size: 19px;
    font-weight: 500;
    color: grey;
}
.prop-name-div{
    margin-left: 10px;
    padding-left: 10px;
}
.prop-name{
    font-weight: bold;
    text-transform: capitalize;
    color: var(--color-primary);
    font-size: 26px;
}
.pdtdetails{
    background: white;
    border: 1px solid #e0d6d6;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
        padding: 0px;
}
.card-single{
    /* margin-top: 5px; */
    padding-top: 10px;
    padding-bottom: 10px;
    /* border: 1px solid #e0d6d6; */
    margin-left: 10px;
    padding-left: 10px;
}
.fav{
   margin-top: 5px;
}
.btn-fav{
    float: right;
    background: transparent;
    border: none;
}
.btn-fav:hover{
    cursor:pointer;
}
.grid .grid_data > div .odd-row {
    background-color: whitesmoke;
}
.grid .grid_data > div .even-row {
    background-color: whitesmoke;
}
.btn-grid{
    
border-radius: 0px;
    
border-style:solid;
    
border-width: 1px;
    
background-color: var(--color-primary);
    
color: white;
    
width: -webkit-fill-available;
    
height: 30px;
}
.product-list:hover{
    cursor:pointer;
    -webkit-box-shadow: 0 10px 30px 0 rgba(58, 87, 135, .15);
    -moz-box-shadow: 0 10px 30px 0 rgba(58, 87, 135, .15);
    box-shadow: 0 10px 30px 0 rgba(58, 87, 135, .15);
}
.btn-grid:hover{

    background-color: var(--color-secondary);
}
.project{
    color:#007183 !important;
    font-weight:bold;
}
.address{
    
    
}
.selling_price{
    font-weight:bold;
}
.item-desc .location,.selling_price, .project,.address{
    font-size: 14px;
    color: black;
    margin-left: 10px;
    margin-bottom: 10px;
}
.item-desc{
    font-size:15px;
}
.item-text{
    margin: 10px 0px 10px 10px;
    color: royalblue;
    font-weight: bold;
}
.product-desc{
    margin: 0px 0px 10px 0px;
}
.product-list{
    background: white;
    border: solid 1px lightgrey;
}
.chat-text-date{
    float: right;
    font-size: 10px;
}
.chat-text-single{

}
#idChatPanel{

}
.left{
    float: left;
    text-align:left;
}
.right{
    float: right;
    text-align:right;
}
.right-time{
    float:right;
    text-align:right;
}
.msg-text{
    
}
.left-name{
    float: left;
    text-align: left;
    padding: 0px;
    font-weight: bold;
    color: black;
}
    .product-list div{
        /*height: 300px;*/
        max-width: 100%;
        overflow: hidden;
    }
.prd-img{
    position: relative;
    float: left;
    width:  100%;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}
.prd-img-upload{
    background: whitesmoke;
    border: solid 1px #d8d2d2;
    margin-right: 5px;
    margin-top: 5px;
    position: relative;
    float: left;
    width:  100%;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}
.active-img-div{
        background: #bae2db !important;
}
.prd-img-upload-div{
       padding-right: 5px;
    margin-top: 5px;
    background: whitesmoke;
    border: solid 1px #d8d2d2;
}
.prd-img-upload-big{
    background: whitesmoke;
    border: solid 1px #d8d2d2;
    margin-right: 5px;
    margin-top: 5px;
    position: relative;
    float: left;
    width:  100%;
    height: 300px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}
.product-img{
    border-right: solid 1px lightgrey;
}
.product-img img{
    position: relative;
    width: 100%;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}

.span-head{
    font-weight: bold;
    font-size: 20px;
    color: black;
    margin-bottom: 10px;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  /*grid-auto-rows: 200px;*/
  grid-template-areas: 
    ". a a ."
    ". a a .";
}
.wrap-center {
  grid-area: a;
  align-self: center;
  justify-self: center;
}
 :root {
  --color-primary: rebeccapurple;
  --color-secondary: 0px;
  --font-family: comic sans;
  --font-size: 1.2em;
}

.search-panel{
  padding:10px;
  background-color: transparent;
  text-align:center;
  z-index: 9999;
  margin-top: 100px;
  display: inline-block;
  width:100%
}

 .search-panel-area1 {
  width:800px;
  float:left;
}
 .search-panel-area {
  /*width:800px;*/
  float:left;
  /*margin: 10px;*/
  z-index: 999;
  margin-top: 8px;
}
.area-margin{
    margin-top: 40px;   
}
.search-panel > input{
  background: url('/img/dropdownarrow.png');background-position: calc(100% - 2px);background-size:12px;background-repeat: no-repeat;background-color:whitesmoke;padding-right:15px;float: left;}

.search-panel [controlId=aclLocation]{
    width : 200px;
    float: left;
    padding: 0px;
}
.search-panel-area .no-padding{
    padding: 0px;
    margin-top:10px;
}
 .search-panel [controlId=txtSearchBox]{
     width : 235px;
     float: left;
     padding: 0px;
 }
.search-panel [controlId=aclActionType]{
  width : 200px;
  float: left;
  padding: 0px;
  }

 .search-panel [controlId=aclPropertyType]{
  width : 200px;
  float: left;
  padding: 0px;
}
.search-panel [controlId=aclPrice] {
    width: 200px;
    float: left;
    padding: 0px;
}
 /* .search-panel input[controlId=aclPrice]{

  float: left;
  padding: 0px;
} */

 .search-panel .search-panel-area > button{
      width: 50px;
  height: 40px;
  border: none;
  margin-left: 0px;
  float: left;
  background: var(--color-primary);
} 
 .search-panel .search-panel-area1 > button{
  width: auto;
  height: 50px;
  margin-top: 0px;
  border: none;
  margin-left: 1px;
  float: left;
      background: var(--color-primary);
}
.search-panel .search-panel-tabs button:hover {
box-shadow: none;
    z-index: 1;
    background-color: rgb(30, 32, 49);
    color: #fff;
    /* font-weight: 700; */
    font-size: 14px;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #333;
    /* font-size:20px; */
    background-color: #e7e7e7;
}

.navbar-default .navbar-nav>li>a:focus {
    color: #333;
    /* font-size:20px; */
    background-color: whitesmoke;
}
.search-panel .search-panel-tabs button{
    font-size: 15px;
    border: solid 1px rgb(167, 170, 178);
    background-color: var(--color-primary);
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0px;
    float: left;
    width: 130px;
    height: 45px;
}
.search-panel .search-panel-area > button:hover {
    width: 50px;
    height: 40px;
    border: none;
    margin-left: 0px;
    float: left;
    background: var(--color-secondary);
}
.search-panel .search-panel-tabs{
  /*width:100%;*/
  /*margin: 10px;*/
  float:left;
  z-index: 999;
  color: white;
}






.errorMsg{
    color:red;
    display:none;
}
.input-text{
    padding: 5px 0 6px 0;
    /*position: absolute;*/
    /*left: 0;
    right: 0;
    top: 15px;*/
    /*width: 100%;*/
    margin:10px;
    background: 0;
    border: 0 !important;
    border-bottom: 1px solid #999 !important;
    font-size: 14px;
    /*color: #000;*/
    transition: all .2s ease;
    text-align: left;
    outline: 0;
}
.btn-active{
    background: var(--color-primary);
}
.type{
        list-style: none;
    padding: 0;
    margin: 0;
}

 .li-button-post-ad{
        float: left;
    list-style: none;
    /*padding: 0;*/
    margin: 0;
    /*width: 150px;*/
}
  .a-button-post-ad:visited{
    color: #666;
    text-decoration: none;
    background: antiquewhite;
 }
 .a-button-post-ad:hover{
    color: #666;
    text-decoration: none;
    background: antiquewhite;
 }
  .a-button-post-ad:focus{
    color: #666;
    text-decoration: none;
 }
.a-button-post-ad{
    border-radius: 3px;
    border: #ddd solid 1px;
    border: #f3cfcf solid 1px;
    margin-left: 0;
    display: block;
    height: 52px;
    padding: 15px 5px;
    text-align: center;
    text-decoration: none;
    color: #666;
    position: relative;
    text-decoration: none;
}
.button-post-ad{
    border-radius: 3px;
    border: #ddd solid 1px;
    border: #f3cfcf solid 1px;
    margin-left: 0;
    display: block;
    height: 52px;
    padding: 15px 5px;
    text-align: center;
    text-decoration: none;
    color: #666;
    position: relative;
    background:var(--color-primary);
}
@media (min-width: 768px){
.navbar-toggle {
    display: block;
}

}

.post_ad:hover{
    cursor:pointer;
}

.post_ad{

background-color: gold;

margin-right: 10px;

margin-top: 10px;

border: solid 1px var(--color-primary);

color: black;

font-size: 0.8em;
    text-align: center;
padding: 4px;

padding-left: 10px;

padding-right: 10px;
}

.parent {
    width:100%;
    height: 500px;
    position: relative;
    padding:0px;
    z-index: 80;
    background-image: url(/img/home/background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .property-search .parent{
      height: 50px;
  }
  
  .parent img {
    display: block;
    width: 100%;
    height: 100%;
    height: auto;
  }
    .mobile-hide {
    display: inherit;
}
    .desktop-hide {
    display: none;
}

  @media only screen and (max-width: 600px) {
    .mobile-hide {
        display: none;
    }
        .desktop-hide {
        display: inherit;
    }
    .navbar-brand {
        margin-top:0px !important;
    }
.search-panel .search-panel-area > button{
width: auto;
    height: 42px;
    margin-top: 10px;
    border: none;
    margin-left: 1px;
    float: left;
    background: var(--color-primary);
    margin-left: 90px;
}
.search-panel .search-panel-area > button:hover {
    width: auto;
    height: 42px;
    margin-top: 10px;
    border: none;
    /* margin-left: 1px; */
    float: left;
    background: var(--color-secondary);
    margin-left: 90px;
}
.search-panel .dropdown-simple, .search-panel input{
    width: -webkit-fill-available !important;
    margin-top: 10px;
}
.search-panel {

    margin-top: 15px !important;

}
.search-panel .search-span{
    color: white;
    font-size: 20px;
    text-align:left;
}
.search-panel .search-i{
    color: white;
    font-size: 16px;
    text-align:left;
}
}

  #overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    /* top: 0; */
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.29);
    cursor: pointer;
  }
  
  #text{
    position: absolute;
    /* width: 90%; */
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }


  
  .search-panel-filter{
    background-color: whitesmoke;
    margin-top: 10px;
    float: left;
    width: 100%;
}
  
/* Fixed sidenav, full height */
.sidenav {
height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    border-right: solid 1px lightgrey;
    background-image: linear-gradient( white, white );
    background: var(--color-primary);
}
  
.user{
    color: var(--color-primary) !important; 
}

  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    /* border: .5px solid whitesmoke; */
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    padding-left: 20px;
    font-family: ubuntu-regular;
  }

  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
    /*color: #f1f1f1;*/

    background-color:whitesmoke
  }
  
  /* Main content */
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  /* Add an active class to the active dropdown button */
  .active {

      /* border-bottom: solid 1px lightgray;*/
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    background-color: whitesmoke;
    padding-left: 8px;
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    /*float: right;
    padding-right: 8px;*/
    margin: 0px 0px 0px 7px;
  }
  
  /* Some media queries for responsiveness */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


  


div[controlId=ucCompProdSelection] .banner_main {
    /* background-image: url('../img/mainimage.png'); */
    background-size: cover;
    width:auto;
    height: 400px;
    color: black;
    background-color: gray;
    text-align: center;
    padding-top: 140px;
    font-size: 8em;
    font-family: cursive;
}
@media only screen and (max-width: 600px) {
.ui-dialog{
    width:100% !important;
    left:0 !important;
    z-index:1000 ;
    /*top:10% !important;*/
}
  .popup{
      width:100%;
      top:0;
      left:0;
          height: 100vh !important;
        overflow-y: auto !important;
        z-index:1000;
  }
}
.ui-dialog{
top: 70px !important;
    position: fixed !important;
    z-index:1000 ;
}
@media only screen and (max-width: 600px) {
div[controlId=ucCompProdSelection] .banner_main {
    background-image: url('../img/mainimage_mob.jpg');
    height: 250px;
    max-height: 50%;
    width:auto;
    border-bottom:solid 3px gold;
      border-top:solid 3px gold;
}
.modal-content{
    width:80% !important;
}
.myadsgrid{
  overflow-y: unset;
}
div[controlId=grdMyAds] .grid_data > div > div, .grid .grid_filter > div {
    width: 100% !important;
}
div[controlId=grdMyAdViewers] .grid_data > div > div, .grid .grid_filter > div {
    width: 100% !important;
}
div[controlId=grdMyAdViewers] .grid_data > div > div[datafield=item_no] {
    font-size:20px;
    font-weight:bold;
    color:black;
        
}
.div-background{
    background-color:whitesmoke;
    margin: 5px;
}
div[controlId=grdMyAds] .grid_data > div > div[datafield=item_no] {
    font-size: 20px;
    font-weight: bold;
    color: black;
    white-space: pre-line;
}
div[controlId=grdMyAds] .grid_data > div > div[datafield=item_name] {
    font-size: 20px;
    font-weight: bold;
    color: var(--color-primary);
    text-transform: capitalize;
    white-space: pre-line;
}
div[controlId=grdMyAds] .grid_data > div > div[datafield=ptype_name] {
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-transform: capitalize;
    white-space: pre-line;
}
div[controlId=grdMyAds] .grid_data > div > div[datafield=price] {
    font-size: 18px;
    font-weight: bold;
    color: #34d239;
    text-transform: uppercase;
    white-space: pre-line;
}
div[controlId=grdMyAds] .grid_data > div > div[datafield=upd_date] {
    font-size: 16px;
    font-weight: bold;
    color: #838486;
    text-transform: uppercase;
    white-space: pre-line;
}   
div[controlId=grdMyAds] .grid_data > div > div[datafield=location] {
    font-size: 16px;
    font-weight: bold;
    color: #717273;
    text-transform: uppercase;
    white-space: pre-line;
}
div[controlId=grdMyAdMessages] .grid_data > div > div[datafield=item_no] {
    font-size: 16px;
    font-weight: bold;
    color: #717273;
    text-transform: uppercase;
    white-space: pre-line;
}
div[controlId=grdMyAdMessages] .grid_data > div > div[datafield=message] {

    white-space: pre-line;
}
div[controlId=grdMyAdMessages] .grid_data > div > div[datafield=msg_from] {

    white-space: pre-line;
}
div[controlId=grdMyAdMessages] .grid_data > div > div[datafield=msg_to] {

    white-space: pre-line;
}
div[controlId=grdMyAdMessages] .grid_data > div > div[datafield=date] {

    white-space: pre-line;
    width: 100% !important;
    float: right;
    text-align: right;
}
}

.go_back.secondaryButton,.go_back.secondaryButton:hover,.go_back.secondaryButton:focus{
  bottom:0;right:0;
  background-color:gold;
  padding:10px;
  text-decoration:none;
  position: fixed;
      font-weight: bold;
      z-index: 2000;
}

div[controlId=grdCompProdSelection],div[controlId=grdDashEntries] {
  background-color:transparent;

}

div[controlId=grdCompProdSelection] .grid_row,div[controlId=grdDashEntries] .grid_row {
  text-decoration:none;
  cursor: pointer;
 
}

div[controlId=grdCompProdSelection] .grid_row a,div[controlId=grdDashEntries] .grid_row a{
  text-decoration:none;
  cursor: pointer;
}

div[controlId=grdCompProdSelection].grid .grid_data > div > div, .grid .grid_filter > div,
div[controlId=grdCompProdSelection].grid .grid_data > div > div, .grid .grid_filter > div{
  margin:0px;
}

div[controlId=grdCompProdSelection] .even-row ,div[controlId=grdDashEntries] .even-row {
  background-color:transparent;

}



.comp_prod_row,.dash_entry_row{
    width: 100%;
    background-color: gold;
    height: 100px;
    /* padding-top: 40px; */
    text-align: center;
 } 
.comp_prod_row:hover{
    cursor:pointer;
}





.splash{
   display: flex;
   align-items: center;
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background: white    ;
   z-index: 999999;
}

.navbar-header{
    color: white;
}
.navbar-default .navbar-toggle{
    border: transparent;
    float:left;
    margin-left:10px;
    margin-right: 0px;
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
    background-attachment: fixed;
    font-family: var(--font-family);
    font-size: 12px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: whitesmoke;
}

input, select,span {

color: dimgray;

font-family: var(--font-family);

font-size: var(--font-size);

border: none;
}

div{
   outline:none
}
input[type=text], select{
  /*border:solid 1px whitesmoke;
  outline:none*/
}
input[type=text]:focus,input[type=text]:hover, select:focus,select:hover
{
  /*border:solid 1px whitesmoke;*/
}

.cancel-icon {
    width: 20px;
    height: 20px;
    background-size: cover;
    background-image: url('/img/Cancel.png');
    background-color: transparent;
    border: none;
    float: right;
    margin:10px;
}

.header-icon {
    width: 30px;
    height: 30px;
    background-size: cover;
    background-color: transparent;
    border: none;
    float: right;
    margin: 10px;
}
.search-icon{
  width: 30px;
  background-image: url(../img/search.png);
  background-size: cover;
  border: none;
  background-color: transparent;
}
#myNavbar.navbar-collapse.in{
    background:whitesmoke;
}
.navbar-collapse.in  {
    overflow-y: auto;
    background: var(--color-primary);
    z-index: 2;
    position: relative;
}
.navbar-default .navbar-nav>li>a {
    color: white;
}
.navbar {
    margin-bottom: 0px;
    /* background-image:
    linear-gradient(
      white, white
    ); */
    background: var(--color-primary);
    border-bottom: solid 1px var(--color-primary);
    font-size: 1.6em;
    border-radius: 0px;
    border-color: var(--color-primary);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2000;   
    box-shadow: 0px 4px #b4b3b5ba; 
}



.grid > div:first-child{
  font-weight:normal;
  background-color: transparent;
}

.grid > .grid_header{
  
  
}
.grid > .grid_data{
  overflow:auto
}
.grid > .grid_row:focus,.grid > .grid_row:hover {
  outline:none;
  border:none;
}

.grid[controlid=grdResults] .grid_data > div, .grid .grid_filter{
  width:100%
}

.grid[controlid=grdBranches] .grid_data > div, .grid .grid_filter{
  width:100%
}

.grid[controlid=grdCourses] .grid_data > div, .grid .grid_filter{
  width:100%
}

.grid[controlid=grdSubjects] .grid_data > div, .grid .grid_filter{
  width:100%
}

.grid[controlid=grdExams] .grid_data > div, .grid .grid_filter{
  width:100%
}

.grid[controlid=grdFees] .grid_data > div, .grid .grid_filter{
  width:100%
}

.grid[controlid=grdStudents] .grid_data > div, .grid .grid_filter{
    width:100%
  }
  
  .grid[controlid=grdBills] .grid_data > div, .grid .grid_filter{
    width:100%
  }

  .grid[controlid=grdEditBill] .grid_data > div, .grid .grid_filter{
    width:100%
  }

  .grid[controlid=grdBatchCourses] .grid_data > div, .grid .grid_filter{
    width:100%
  }

  .grid[controlid=grdBatchStudents] .grid_data > div, .grid .grid_filter{
    width:100%
  }
  .grid[controlid=grdEdit] .grid_data > div, .grid .grid_filter{
    width:100%
  }

  


  



/*  text-transform:uppercase;
Portrait layout (default) */
.app {
    background: url(/img/logo.png) no-repeat center top; /* 170px x 200px */
    position: absolute; /* position in the center of the screen */
    left: 50%;
    top: 50%;
    height: 50px; /* text area height */
    width: 225px; /* text area width */
    text-align: center;
    padding: 180px 0px 0px 0px; /* image height is 200px (bottom 20px are overlapped with text) */
    margin: -115px 0px 0px -112px; /* offset vertical: half of image height and text area height */
    /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position: left center;
        padding: 75px 0px 75px 170px; /* padding-top + padding-bottom + text area = image height */
        margin: -90px 0px 0px -198px; /* offset vertical: half of image height */
        /* offset horizontal: half of image width and text area width */
    }
}


.basic-field span{
    width: calc(30% - 4px);
    color: dimgray;
    display:inline-block;
}

.basic-field select{
    width: 70%;
    padding-left:0px;
    color: dimgray;
}

.basic-field{
    margin-top : 10px;

}

.section-header{
    margin-top: 15px;
    border-bottom: solid 1px gold;
}
.section-header > span{
  display:inline-block;
  font-size:1.5em;
  color: dimgray;
}

.section-header > div{

    float:right;
   
}

.section-header > div input{

    float:right;
    border:none;
    
   
}
.section-header > div input:hover,.section-header > div input:focus{

     text-decoration: underline;
     border:none;
     outline:none
}



.fee-stud-frame{
    background-color: whitesmoke;
    display: inline-block;
    width: 100%;
    padding: 10px;
    margin-bottom:10px;
}
.dropdown-simple > button {
    background-color: white;
    color: dimgray;
    padding: 10px;
    font-size: 16px;
    height: 40px;
    padding-right: 15px;
    cursor: pointer;
    border: none;
    text-align: left;
    width: calc(100% - 20px);
  }
  .dropdown-simple > span {
    background: url(/img/dropdownarrow.png);
    width: 20px;
    height: 40px;
    float: right;
    border: none;
    background-size: 14px;
    background-position: 2px;
    background-repeat: no-repeat;
    background-color: white;
    outline: none;
  }

.fee-add-frame input[type=text]{
   
}
/*Top Menu*/
.topnav {
  /*overflow: hidden;
  background-color: #333;*/
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: var(--color-primary);
  color: white;
}

.topnav .icon {
  display: none;
}

.topdropdown {
  float: left;
  overflow: hidden;
}

.topdropdown .topdropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.topdropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.topdropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .topdropdown:hover .topdropbtn {
  background-color: #555;
  color: white;
}

.topdropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.topdropdown:hover .topdropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .topdropdown .topdropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .topdropdown {float: none;}
  .topnav.responsive .topdropdown-content {position: relative;}
  .topnav.responsive .topdropdown .topdropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
/**/


.page {
	margin: 1em auto;
	max-width: 768px;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	height: 100%;
}

.box {
	padding: 0.5em;
	width: 100%;
	margin:0.5em;
}

.box-2 {
	padding: 0.5em;
	width: calc(100%/2 - 1em);
}

.options label,
.options input{
	width:4em;
	padding:0.5em 1em;
}
.btn{
	background:white;
	color:black;
	border:1px solid black;
	padding: 0.5em 1em;
	text-decoration:none;
	margin:0.8em 0.3em;
	display:inline-block;
	cursor:pointer;
}

.hide {
	display: none;
}

img {
	max-width: 100%;
}

/***/

.simple_list_combobox{
  border:solid 1px grey;
  float: left;
}
.simple_list_combobox input,.simple_list_combobox input[type=text]:focus, .simple_list_combobox input[type=text]:hover{

width: calc(100% - 20px);

float: left;

background-color: white;

border: none;

outline: none;
}
  
  
  .no-padding button{
  
background: url('/img/dropdownarrow.png');
  
width: 20px;
  
height: 30px;
  
float: left;
  
border: none;
  
background-size: 14px;
  
background-position: 2px;
  
background-repeat: no-repeat;
  
background-color: white;
  
outline: none;
  }  
  .simple_list_combobox button{
  
background: url('/img/dropdownarrow.png');
  
width: 20px;
  
height: 30px;
  
float: left;
  
border: none;
  
background-size: 14px;
  
background-position: 2px;
  
background-repeat: no-repeat;
  
background-color: white;
  
outline: none;
  }
  



  /***/
  /****/

  * {
  box-sizing: border-box;
}

.columns {
  float: left;
  width: 45.3%;
  padding: 8px;
}

.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
  background-color: #111;
  color: white;
  font-size: 25px;
}

.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.price .grey {
  background-color: #eee;
  font-size: 20px;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }
}

/*.image-content{
        position: relative;
        height: 400px;
        overflow: hidden;
}
.mySlides{
        width: 100%;
    display: block;
        height: 400px; 
}
.img-display-left:hover,.img-display-right:hover  {
    color: #000!important;
    background-color: #ccc!important;
}
.img-display-left {
            color: #fff!important;
    background-color: #000!important;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(-0%,-50%);

        border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.img-display-right{
        color: #fff!important;
    background-color: #000!important;

        position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%);


        border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.card-title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    background-color:black;
    color: white;
}
.image-overlay {
    width: 100%;
    background-color: rgba(0,0,0,.2);
    font-size: 12px;
    color: white;
    padding: 5px;
    background-color:black;
    font-weight:bold;
}*/
.card-number{
    color:white;
    /*font-weight:bold;*/
}
.card-title {
    
    font-weight: 300;
    padding: 0;
    padding-right: 10px;

}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  background-color:#000000b8;
}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  height: 400px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
      color: white;
    text-decoration: none;
    background-color: rgba(0,0,0,0.8)
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  /*color: black;*/
}

/* On hover, add a black background color with a little bit see-through */


/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */


/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 100px;
    width: 100px;
    margin: 0 2px;
    background-color: transparent;
    /* border-radius: 50%; */
    display: inline-block;
    transition: background-color 0.6s ease;
    border: 1px solid #ddd;
    opacity: 0.3;
    padding: 4px;
    

}
.prev:focus, .prev:hover,.next:focus, .next:hover {
    color: white;
    text-decoration: none;
    background-color: rgba(74, 68, 68, 0.8);
}
.dot:hover {
  opacity:1;
}
.active{
  opacity: 1;
}
/* Fading animation */
.slide-fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
.new-plus-button{
    cursor: pointer;
    background-color: var(--color-primary);
    /* margin-right: 10px; */
    /* margin-top: 10px; */
    border: solid 1px var(--color-primary);
    color: white;
    font-size: 0.8em;
    text-align: center;
    /* padding: 4px; */
    /* padding-left: 10px; */
    /* padding-right: 10px; */
}
.content-area-10 {
    padding: 60px 0 60px;
}
.features {
    background: rgba(0, 0, 0, 0.04) url(../img/bg-2.jpg) top left repeat;
    background-size: cover;
    width: 100%;
    opacity: 1;
    margin-top: 50px;
}
.main-title-2 {
    margin-bottom: 50px;
    z-index: 999;
    color: #fff;
}

.features-box {
    margin: 0 0 30px 0;
    position: relative;
    display: inline-block;
    width: 100%;
    padding-right: 50px;
}
.features-box .icon {
    border-radius: 7%;
    height: 60px;
    width: 60px;
    line-height: 60px;
    left: 0;
    position: absolute;
    top: 0;
    font-size: 30px;
    text-align: center;
    color: #fff;
    background: transparent;
}
.features-box .detail {
    margin: 0 0 0 85px;
    white-space: pre-line;
}
.main-title-2 h1 {
    color: #ffd700;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 15px;
    z-index: 20;
}
.main-title-2 p {
    color: #fff;
    font-size: 24px;
    line-height: 30px;
}
.maim-title-2 .row{
    flex-wrap: wrap;
    display: flex;
}
.features-box h5 {
    color: #ffd700;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 15px;
}
.features-box p {
    color: #fff;
    font-size: 17px;
    line-height: 27px;
}
.svg path {
    fill: white !important;
}
div[controlId=grdMyFeatures] .even-row, div[controlId=grdMyFeatures] .odd-row{
    background-color: transparent !important;
}
div[controlId=grdPopularLocation] .even-row, div[controlId=grdMyFeatures] .odd-row{
    background-color: transparent !important;
}
.location-name{
    margin-top: 40px;
    color: white;
    text-align: left;
    float: left;
    margin-left: 40px;
    font-family: simpel;
}
.location-box{
    transition: all 0.55s;
    border-radius: 3px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}
.location-box:hover {
    transform: scale(1.06);
    transition: transform 0.35s ease-out;
}

.tinted-image {
    background: 
      /* top, transparent red, faked with gradient */ 
      linear-gradient(
        rgba(255, 0, 0, 0.45), 
        rgba(255, 0, 0, 0.45)
      ),
      /* bottom, image */
      
  }

  .comp_prod_row .overlay{
    background-color: rgba(0, 0, 0, 0.36);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
.comp_prod_row{
    position: relative;
}
  
.comp-name{
    font-weight: bold;
    font-family: ubuntu-regular;
    color: white;
    margin: 20px;
}
.navbar-brand{
    padding: 0px 15px 15px 15px;
}
.logo-img{
    width: 50px;
    height: 50px;
    margin-top: 0px;
}
.main-header {
    background-color: var(--color-primary);
    color: white;
    display: inline-block;
    width: 100%;
    font-size: 16px;
    padding-left: 10px;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
}
.filter_panel span {
    text-align: left;
}

.filter-header {
    font-size: 15px !important;
    border-top: solid 1px lightgray;
    padding-top: 10px;
    padding-left: 0px;
    width: 93%;
    text-transform: uppercase;
    font-weight: bold !important;  
}

.left-filter{
    background: white;
    padding: 10px;
}

.pnlSort {
    float: right;
    font-size: 14px;
    margin-top: 10px;
}
.pnlSort div {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
    font-weight: bold;
}
.product-header {
    float: left;
    color: var(--color-primary);
    display: inline-block;
    font-size: 16px;
    border: none;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-left: 23px;
}
.sticky {
    position: fixed;
    top: calc(100% - 50px);
    left: 0;
    z-index: 9000;
    padding: 10px;
    border: solid 1px lightgrey;
    font-size: 20px;
    background-color: var(--color-primary);
    width: 100%;
    }

    .sticky .row > div:first-child {
        border-right: solid 1px white;
    }

    .sticky a {
        color: white;
        text-align: center;
        width: 100%;
        display: inline-block;
        font-size: 16px;
    }
    .search-result{
        max-width: 90%;
        margin: auto;
        margin-top: 20px;
        
    }
    @media only screen and (max-width: 600px) {
        .search-result{
            width: auto;
            max-width: -webkit-fill-available;
            margin-right: -15px;
            margin-left: -15px;
        }
    }
.home-head{
    color: white;
    opacity: 100;
    font-size: 40px;
    background: #080808ad;
    width: 532px;
}
.property-box{
    position: relative;
    margin-bottom: 30px;
    cursor: pointer;
}
.property-thumbnail{
    position: relative;
}
.tag {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 20;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    padding: 7px 14px 5px;
    font-weight: 500;
    border-radius: 3px 3px 3px 0;
    background: var(--color-primary);
}

.price-box {
    color: #fff;
    text-align: right;
    font-size: 15px;
    position: absolute;
    bottom: 40px;
    right: 20px;
    z-index: 20;
    background: #13110cbf;
}
.price-box span{
    color: white;
}
.property-box img {
    border-radius: 5px;
    height: 200px;
    background: white;
}
.w-100 {
    width: 100%!important;
}
.d-block {
    display: block!important;
}
.property-box .detail {
    position: relative;
    width: 90%;
    margin: -30px 5% 30px 5%;
    padding: 25px 20px 20px;
    background: #fff;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.61);
    z-index: 9;
    border-radius: 5px;
    height: 130px;
}
.property-box .detail .title {
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 600;
}
.property-box .detail .location {
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 500;
}
.property-box .detail .title a {
    color: var(--color-primary);
    white-space: pre-line;
}
.property-box .detail .location a {
    color: #5f5e5e;
}

.tag::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-top: 0;
    border-bottom: 10px solid transparent;
    bottom: -10px;
    left: 0;
    border-left: 10px solid var(--color-primary);
}
.background {
    /* width:100%; */
    height: 100vh;
    position: relative;
    padding:0px;
    z-index: 80;
    background-image: url(/img/home/background8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .background::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-top: 0;
    border-bottom: 10px solid transparent;
    bottom: -10px;
    left: 0;
    border-right: 10px solid var(--color-primary);
}
/*login-ui*/

.login-panel *, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background: #ededed;
  }
  
  .login-panel input, button {
    border: none;
    outline: none;
    background: none;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  }
  
  .tip {
    font-size: 20px;
    margin: 40px auto 50px;
    text-align: center;
  }
  
  .cont {
    overflow: hidden;
    position: relative;
    width: 900px;
    height: 500px;
    margin: 0 auto 100px;
    background: #fff;
    margin-top: 80px;
  }
  
  .form {
    position: relative;
    width: 640px;
    height: 100%;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
    padding: 50px 30px 0;
  }
  
  .sub-cont {
    overflow: hidden;
    position: absolute;
    left: 640px;
    top: 0;
    width: 900px;
    height: 100%;
    padding-left: 260px;
    background: #fff;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
  }
  .cont.s--signup .sub-cont {
    -webkit-transform: translate3d(-640px, 0, 0);
            transform: translate3d(-640px, 0, 0);
  }
  
  .login-panel button {
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 36px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
  }
  
  .img {
    overflow: hidden;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    padding-top: 360px;
  }
  .img:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 900px;
    height: 100%;
    background-image: url("/img/login/banner-3.jpg");
    background-size: cover;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
  }
  .img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  .cont.s--signup .img:before {
    -webkit-transform: translate3d(640px, 0, 0);
            transform: translate3d(640px, 0, 0);
  }
  .img__text {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    color: #fff;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
  }
  .img__text h2 {
    margin-bottom: 10px;
    font-weight: normal;
  }
  .img__text p {
    font-size: 14px;
    line-height: 1.5;
  }
  .cont.s--signup .img__text.m--up {
    -webkit-transform: translateX(520px);
            transform: translateX(520px);
  }
  .img__text.m--in {
    -webkit-transform: translateX(-520px);
            transform: translateX(-520px);
  }
  .cont.s--signup .img__text.m--in {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .img__btn {
    overflow: hidden;
    z-index: 2;
    position: relative;
    width: 100px;
    height: 36px;
    margin: 0 auto;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
  }
  .img__btn:after {
    content: '';
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 30px;
  }
  .img__btn span {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: -webkit-transform 1.2s;
    transition: transform 1.2s;
    transition: transform 1.2s, -webkit-transform 1.2s;
  }
  .img__btn span.m--in {
    -webkit-transform: translateY(-72px);
            transform: translateY(-72px);
  }
  .cont.s--signup .img__btn span.m--in {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .cont.s--signup .img__btn span.m--up {
    -webkit-transform: translateY(72px);
            transform: translateY(72px);
  }
  
  .login-panel h2 {
    width: 100%;
    font-size: 26px;
    text-align: center;
  }
  
  .login-panel label {
    display: block;
    width: 260px;
    margin: 25px auto 0;
    text-align: center;
  }
  .login-panel label span {
    font-size: 12px;
    color: #cfcfcf;
    text-transform: uppercase;
  }
  
  .login-panel input {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    /* text-align: center; */
  }
  
  .forgot-pass {
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: #cfcfcf;
  }
  
  .submit {
    margin-top: 40px;
    margin-bottom: 20px;
    background: #d4af7a;
    text-transform: uppercase;
  }
  
  .fb-btn {
    border: 2px solid #d3dae9;
    color: #8fa1c7;
  }
  .fb-btn span {
    font-weight: bold;
    color: #455a81;
  }
  
  .sign-in {
    transition-timing-function: ease-out;
  }
  .cont.s--signup .sign-in {
    transition-timing-function: ease-in-out;
    transition-duration: 1.2s;
    -webkit-transform: translate3d(640px, 0, 0);
            transform: translate3d(640px, 0, 0);
  }
  
  .sign-up {
    -webkit-transform: translate3d(-900px, 0, 0);
            transform: translate3d(-900px, 0, 0);
            max-width: 400px;
            margin: auto;
  }
  .cont.s--signup .sign-up {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  
  .icon-link {
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: 32px;
  }
  .icon-link img {
    width: 100%;
    vertical-align: top;
  }
  .icon-link--twitter {
    left: auto;
    right: 5px;
  }
  
  .login-panel .center{
    max-width: 400px;
    margin: auto;
    margin-top: 50px;
  }
  .margin-top{
    margin-top: 50px;
  }
  /* .postfreead-panel input {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);

} */
[type="radio"]:not(:checked)+span, [type="radio"]:checked+span {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
    -webkit-transition: .28s ease;
    transition: .28s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
[type="radio"]+span:before, [type="radio"]+span:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 16px;
    height: 16px;
    z-index: 0;
    -webkit-transition: .28s ease;
    transition: .28s ease;
}
[type="radio"]:checked+span:before {
    border: 2px solid transparent;
}
[type="radio"]:not(:checked)+span:before, [type="radio"]:not(:checked)+span:after, [type="radio"]:checked+span:before, [type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border-radius: 50%;
    border: 2px solid #26a69a;
}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border: 2px solid #26a69a;
}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color: #26a69a;
}
[type="radio"].with-gap:checked+span:after {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
}

[type="radio"]:not(:checked)+span:before, [type="radio"]:not(:checked)+span:after, [type="radio"]:checked+span:before, [type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border-radius: 50%;
}
[type="radio"]:checked+span:after {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}
[type="radio"]:not(:checked), [type="radio"]:checked {
    /* position: absolute; */
    opacity: 0;
    pointer-events: none;
}
[type="checkbox"], [type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
[type="radio"]::before {
    border: 2px solid #26a69a;
}
.grid-slider{

}
.grid-slider-images{

}
#owl-demo .item{
    margin: 3px;
  }
  #owl-demo .item img{
    display: block;
    width: 100%;
    /* height: auto; */
  }